/* index page css */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.8;
}
#icon{
  height: 70px;
  width: auto;
  opacity: 0.8;
}
.title1{
  color: #bfcadd;
  font-family: 'Poppins' ;
  font-size: 3.6rem;
  border: 1px solid black;
  padding: 10px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
}
.title2{
  color: #bfcadd;
  font-family: 'Poppins';
  font-size: 3.6rem;
  border: 1px solid black;
  padding: 10px;
  display: inline-flex;
  position: relative;
  justify-content: space-between;
}
.nav1{
  color: #d4e1de;
  display: flex;
  justify-content: space-between;
  align-items:center ;
  margin-top: 0px;
  padding: 15px 15px 0 0;
}
#search-container{
  opacity: 0.4;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search{
  width: 420px;
  padding: 15px 25px;
  border: 1px solid #0A1F44;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: -146px;
}
#search-results-container{
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  display: flexbox;
  margin-left: 360px;
  margin-top: 10px;
  width: 40%;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 400px;
  overflow-y: scroll;
}
a {
  text-decoration: none;
  color: #d6dce3;
  font-weight: bold;
  font-size: 45px;
  position: relative;
}
a:hover{
  color: #1461e6;
}
/* favourite page css */
#Video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.8;
}
#toright{
  position: relative;
  display: flex;
  align-items: end;
  justify-content: end;
  margin-top: 0px;
}
#favourite-heros{
  display: flex;
  width: 85%;
  margin: auto;
  min-width: 480px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nav2{
  color: #d4e1de;
  display: flex;
  justify-content: space-between;
  align-items:center ;
  margin-top: 0px;
  padding: 15px 15px 0 0;
}
/* superhero page css */
#myVideo1 {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.8;
}

li{
  display: inline-flex;
  position: relative;
  justify-content: space-between;
}

#powerstats{
  position: relative;
  display: block;
  margin-left: 60px;
}

#bio{
  position: relative;
  display: block;
  margin-left: 60px;
}

#search:focus{
  outline: none;
}

#search-results-container div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.search-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#super-hero-container{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
  padding-top: 50px;
}

#image{
  width: 350px;
  height: 250px;
  margin-right: 10px;
}

#img{
  width: 100%;
  height: auto;
  object-fit: cover;
  display: flex;
  position: relative;
  justify-content: flex-start;
}

#left{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  width: 30%;
}

#main{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 25px;
  width: 70%;
}

#hero-name{
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 0;
  margin-left: -2px;
}

#right{
  display: flex;
  text-align: left;
  justify-content: space-evenly;
}

#right div{
  padding-top: 15px;
}

.heading{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 0;
  margin-left: 15px;
  color: #5CC7B2;
  position: relative;
}

#intelligence{
  margin-left: 15px;
}

#strength{
 margin-left: 15px;
}

#speed{
  margin-left: 15px;
}

#durability{
  margin-left: 15px;
}

#power{
  margin-left: 15px;
}

#combat{
  margin-left: 15px;
}

.hero-details{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.hero-img-container{
  height: 270px;
  width: 210px;
}

.hero-img-container img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: relative;
  opacity: 0.7;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 35px;
  margin-top: -35px;
}

.hero-name{
  font-size: 1.5rem;
  font-family: 'Poppins';
  font-weight: bold;
 position: relative;
 color: #bfcadd;
  padding: 10px;
  opacity: 0.9;
}

.remove-fav{
  font-size: 1rem;
  font-family: 'Poppins';
  background-color: #5CC7B2;
  padding: 15px;
  color: #FFFFFF;
  border-radius: 5px;
  position: relative;
  opacity: 0.9;
}

.remove-fav:hover{
  background-color: #e8e4e5;
  cursor: pointer;
}

 a {
  text-decoration: none;
  color: #d6dce3;
  font-weight: bold;
  font-size: 45px;
  font-family: 'Poppins';
}

a:hover{
  color: #bd1616;
}

